/*
==> Fonts <==
*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
/*
==> Variables <==
*/

:root {
  /* Color palette */
  --clr-primary-1: #EE9A86;
  --clr-primary-2: #49E3AB;
  --clr-primary-3: #9E91F9;
  --clr-primary-4: #F8D472;
  --clr-primary-5: #FBEFD0;
  --clr-black: #222;
  --clr-grey: #595457;
  --clr-white: #fff;
  --font-primary: 'Comfortaa', cursive;
  --font-secondary: 'Amaranth', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: .5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
==> Global Styles <==
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-primary);
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  font-size: 0.875rem;
}
  h1 {
    font-size: 2rem;
    font-family: var(--font-secondary);
    text-shadow: var(--dark-shadow );
    color: var(--clr-primary-1);
    text-transform: capitalize;
    text-align: center;
  }
  img {
    display: block;
  }
  h4 {
      font-size: 1rem;
      text-transform: capitalize;
  }
  p {
    font-size: .8rem;
    font-family: var(--font-primary);
    color: var(--clr-grey);
    margin-bottom: 1.25rem;
  }

  .section {
    padding: 4rem 0;
  }
 
 /*
==> M E N U <==
*/
.menu {
    padding: 5rem 0;
  }
  .title {
    text-align: center;
    margin-bottom: 2rem;
  }
  .underline {
    width: 5rem;
    height: 0.25rem;
    background: var(--clr-primary-3);
    margin-left: auto;
    margin-right: auto;
  }
  .btn-container {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
  }
  .filter-btn {
    background: transparent;
    border-color: var(--clr-primary-3);
    font-size: 1rem;
    font-family: var(--font-primary);
    text-transform: capitalize;
    margin: 0rem 0.6rem;
    letter-spacing: 1px;
    border-radius: var(--radius);
    padding: 0.375rem 0.75rem;
    color: var(--clr-primary-1);
    cursor: pointer;
    transition: var(--transition);
    outline-color: var(--clr-primary-2);
  }
  .filter-btn:hover {
    background: var(--clr-primary-1);
    color: var(--clr-white);
    font-weight: bolder;
  }
  .section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
  }
  .menu-item {
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
  }
  .photo {
    object-fit: cover;
    height: 240px;
    border: 0.2rem solid var(--clr-primary-3);
    border-radius: var(--radius);
  }
  .item-info header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1.4px dotted var(--clr-primary-2);
  }
  .item-info h4 {
    margin-bottom: 0.5rem;
  }
  .price {
    color: var(--clr-primary-3);
    font-size: 1.3rem;
    font-family: var(--font-secondary);
  }
  .item-text {
    margin-bottom: 0;
    padding-top: 1rem;
  }
  /*
==> M E D I A - Q U E R I E S <==
*/
  @media screen and (min-width: 630px) {
    .menu-item {
      grid-template-columns: 225px 1fr;
      gap: 0 1.25rem;
      max-width: 40rem;
    }
    .photo {
      height: 180px;
    }
    
    h1 {
        font-size: 2.4rem;
    }
   
  }
  @media screen and (min-width: 1200px) {
    .section-center {
      width: 95vw;
      grid-template-columns: 1fr 1fr;
    }
    .photo {
      height: 160px;
    }
    h1 {
        font-size: 2.6rem;
    }
    h4 {
        font-size: 1.2rem;
    }
  }
  @media screen and (max-width: 430px) {
    .btn-container {
        display: flex;
        flex-wrap: wrap;
          } 
    .filter-btn {
        margin: 0.4rem 0.4rem;
     }
  }
  
 