/*
==> Fonts <==
*/
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
/*
==> Variables <==
*/

:root {
  /* Color palette */
  --clr-primary-1: #EE9A86;
  --clr-primary-2: #49E3AB;
  --clr-primary-3: #9E91F9;
  --clr-primary-4: #F8D472;
  --clr-primary-5: #FBEFD0;
  --clr-secondary-1: #E0D8EE;
  --clr-secondary-2:#EEDAD4;
  --clr-black: #222;
  --clr-grey: #595457;
  --clr-grey-light: hsl(212, 33%, 89%);
  --clr-white: #fff;
  --font-primary: 'Comfortaa', cursive;
  --font-secondary: 'Amaranth', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
==> Global Styles <==
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-primary);
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  font-size: 0.9rem;
}
  h3 {
    font-size: 2rem;
    font-family: var(--font-secondary);
    color: var(--clr-primary-1);
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 3rem;
  }
  
  /* section */
.section {
    padding: 4rem 0;
  }
  
  .section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 36rem;
    margin-top: 8rem;
    text-align: center;
  }
 
 /*
==> G R O C E R Y - L I S T <==
*/
.section-center {
    background: var(--clr-white);
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    padding: 2rem;
  }
  .section-center:hover {
    box-shadow: var(--dark-shadow);
  }
  .alert {
    margin-bottom: 1rem;
    height: 1.25rem;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    border-radius: 0.25rem;
    letter-spacing: var(--spacing);
    text-transform: capitalize;
  }
  .alert-danger {
    color: #721c24;
    background: #f8d7da;
  }
  .alert-success {
    color: #155724;
    background: #d4edda;
  }
 
  .form-control {
    display: flex;
    justify-content: center;
  }
  #grocery {
    outline: none;
    padding: 0.25rem;
    padding-left: 1rem;
    background: var(--clr-secondary-1);
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    border-color: transparent;
    font-size: 1rem;
    flex: 1 0 auto;
    color: var(--clr-primary-3)
  }
  #grocery::placeholder {
    font-family: var(--font-primary);
    color: var(--clr-grey-5);
  }
  .submit-btn {
    background: var(--clr-primary-3);
    color: var(--clr-white);
    font-family: var(--font-primary);
    border-color: transparent;
    flex: 0 0 5rem;
    display: grid;
    align-items: center;
    padding: 0.25rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    cursor: pointer;
    transition: var(--transition);
    font-size: 0.8rem;
  }
  .submit-btn:hover {
    background: var(--clr-primary-1);
    color: var(--clr-white);
  }
  
  .grocery-container {
    margin-top: 2rem;
    transition: var(--transition);
    visibility: hidden;
  }
  .show-container {
    visibility: visible;
  }
  .grocery-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    transition: var(--transition);
    padding: 0.25rem 1rem;
    border-radius: var(--radius);
    text-transform: capitalize;
  }
  .grocery-item:hover {
    color: var(--clr-primary-1);
    background: var(--clr-secondary-2);
  }
  .grocery-item:hover .title {
    color: var(--clr-grey);
  }
  .title {
    margin-bottom: 0;
    color: var(--clr-grey);
    letter-spacing: 2px;
    transition: var(--transition);
  }
  .edit-btn,
  .delete-btn {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    font-size: 0.7rem;
    margin: 0 0.15rem;
    transition: var(--transition);
  }
  .edit-btn {
    color: var(--clr-primary-2);
  }
  .edit-btn:hover {
    color: #31a077;
  }
  .delete-btn {
    color: var(--clr-primary-4);
  }
  .delete-btn:hover {
    color: #ceae57;
  }
  .clear-btn {
    text-transform: capitalize;
    width: 10rem;
    height: 1.5rem;
    display: grid;
    align-items: center;
    background: transparent;
    border-color: transparent;
    color: var(--clr-primary-3);
    margin: 0 auto;
    font-family: var(--font-primary);
    font-size: 0.85rem;
    letter-spacing: var(--spacing);
    cursor: pointer;
    transition: var(--transition);
    margin-top: 1.25rem;
  }
  .clear-btn:hover {
    font-weight: bold;
    color: var(--clr-primary-1);
  }
  
/*
==> M E D I A - Q U E R I E S <==
*/
@media screen and (min-width: 992px) {
    .section-center {
      width: 95vw;
    }
}
@media screen and (max-width: 400px) {
  .submit-btn {
   border-radius: var(--radius);
   margin: .6rem;
  }
  #grocery {
    border-radius: var(--radius);
    margin: .6rem;
   }

   .form-control {
     flex-wrap: wrap;
   }
}