/*
==> Fonts <==
*/
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
/*
==> Variables <==
*/

:root {
  /* Color palette */
  --clr-primary-1: #EE9A86;
  --clr-primary-2: #49E3AB;
  --clr-primary-3: #9E91F9;
  --clr-primary-4: #F8D472;
  --clr-primary-5: #FBEFD0;
  --clr-secondary-1: #E0D8EE;
  --clr-secondary-2:#EEDAD4;
  --clr-black: #222;
  --clr-grey: #595457;
  --clr-grey-light: hsl(212, 33%, 89%);
  --clr-white: #fff;
  --font-primary: 'Comfortaa', cursive;
  --font-secondary: 'Amaranth', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
==> Global Styles <==
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-primary);
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  font-size: 0.9rem;
}
  h2 {
    font-size: 2rem;
    font-family: var(--font-secondary);
    color: var(--clr-white);
    text-align: center;
  }
  
img:not(.person-img) {
    width: 100%;
  }
  img {
    display: block;
  }
  
 /*
==> S L I D E R <==
*/

.slider-container {
    border: 5px solid var(--clr-primary-1);
    width: 80vw;
    margin: 0 auto;
    height: 40vh;
    max-width: 80rem;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 4rem;
  }
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--clr-primary-3);
    color: var(--clr-white);
    display: grid;
    place-items: center;
    transition: all 0.25s ease-in-out;
    text-align: center;
  }
  .slide-img {
    height: 100%;
    object-fit: cover;
  }
  .slide h2 {
    font-size: 5rem;
    text-shadow: var(--clr-primary-1) 1px 1px 4px;
  }
  
  .slide h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 
  .btn-container {
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
  }
  .prevBtn,
  .nextBtn {
    background: transparent;
    border-color: transparent;
    font-size: 1.75rem;
    cursor: pointer;
    margin: 0 0.25rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: var(--font-secondary);
    color: var(--clr-primary-1);
    transition: var(--transition);
  }
  .prevBtn:hover,
  .nextBtn:hover {
    color: var(--clr-primary-3);
  }
  
  
/*
==> M E D I A - Q U E R I E S <==
*/
@media screen and (min-width: 576px) {
    .slider-container {
      height: 45vh;
    }
  }
  @media screen and (min-width: 768px) {
    .slider-container {
      height: 55vh;
    }
  }
  @media screen and (min-width: 992px) {
    .slider-container {
      height: 65vh;
    }
  }